maxwgts*
spring_err*
grid*
lib/*
plots.gnu
bases_err*
rslt_*
plots/*
bases_plots/*
Events/*
get_nevent
get_numch
bases
spring
combine_dat
test
*.o
nch.dat
nevents_total.dat
uwgt.dat
ndim.dat
ndist.dat
ipdf.dat
fort.20
nohup.out
output
params.dat
makefiles
find_perch
dist_param.inc
next.dat
